build
target
release
log
gradle

captures


.idea
.gradle


.settings


local.properties

*.jpg
*.png
*.fuse_.*
*.jar
*.bak
*.class
*.log
*.log.*
*.rdb
*.pyc
*.o
*.apk
*.db
*.~sql
*.out
python/ai/__pycache__/
